.workspace {
  display: grid;
  grid-template-rows: 10% auto;
}

.canvas-wrapper {
    align-items: center;
    margin-top: 20px;
}

.border-it {
    margin: 20px auto;
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.toolbar {
  background-color: #3a3a3a;
  height: 40px;
}